<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Email with Table</title>
  </head>

  <body>
    Dear
    {{vendorName}},<br />
    A friendly reminder to please provide the following for Checkr Inc. and
    Inflection.com for
    {{selectedDate}}:

    <ul>
      <li>
        Estimates for any work in-progress, including services completed but not
        yet invoiced.</li>
      <li>
        An estimate for any services expected to be performed between the date
        of your response and the last day of the month. Thank you and have a
        great day!
      </li></ul>
    <br />

    <a href='http://localhost:3000'>Click here</a>

    <br />
    Wilson Machado
    <br />
    Checkr Group Accounting Team<br />

  </body>
</html>